:root {
	--primary-text-color: #212121;
	--secondary-text-color: #757575;
	--tertiary-text-color: #ffffff;
	--accent-color: #2196f3;
	--primary-bg-color: #f5f4fa;
	--secondary-bg-color: #2f303a;
	--link-footer-color: rgba(255, 255, 255, 0.6);
	--btn-hero-accent-color: #188ce8;

	--card-set-gap: 30px;
}

body {
	color: var(--primary-text-color);
	background-color: var(--tertiary-text-color);

	font-family: Roboto, segoe ui, helvetica neue, helvetica, Ubuntu, noto, arial, sans-serif;
	letter-spacing: 0.03em;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	margin: 0px;
	padding: 0px;
}
img {
	display: block;
	max-width: 100%;
}
*::after::before {
	box-sizing: border-box;
}
.container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
.section {
	padding-top: 94px;
	padding-bottom: 94px;
}
/* ================= header ================ */

.page-header {
	border-bottom: 1px solid #ececec;

	color: var(--primary-text-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}
.page-header .container {
	display: flex;
}
.main-nav {
	display: flex;
	align-items: center;
}
.logo {
	color: inherit;
	font-family: Raleway;
	font-weight: bold;
	font-size: 26px;
	line-height: 1.19;
}
.logo-web {
	color: var(--accent-color);
}
.list-nav {
	display: flex;
	margin-left: 93px;
}
.list-nav .item:not(:last-child) {
	margin-right: 50px;
}
.link-nav {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;

	color: inherit;
}
.link-nav:hover,
.link-nav:focus {
	color: var(--accent-color);
}
.current {
	color: var(--accent-color);
}
.cont-nav {
	display: flex;
	margin-left: auto;
	align-items: center;

	color: var(--secondary-text-color);
}
.icon-mail,
.icon-tel {
	margin-right: 10px;

	fill: currentColor;
}
.icon-mail:hover,
.icon-mail:focus,
.icon-tel:hover,
.icon-tel:focus {
	fill: currentColor;
}

.cont-nav .item + .item {
	margin-left: 50px;
}

/* ============= hero ================  */

.hero {
	text-align: center;
	padding-top: 200px;
	padding-bottom: 200px;
	max-width: 1600px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;

	background-image: url(../images/hero_overlay.png), url(../images/hero.jpg);
	background-repeat: no-repeat;

	background-color: #c4c4c4;
	color: var(--tertiary-text-color);
}
.hero .title-hero {
	margin-bottom: 30px;

	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}
.btn-hero {
	margin-left: auto;
	margin-right: auto;

	display: inline-block;
	padding: 10px 32px;
	min-width: 200px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;

	color: var(--tertiary-text-color);
	background-color: var(--accent-color);

	font-family: inherit;
	font-weight: bold;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.06em;

	cursor: pointer;
}
.btn-hero:hover,
.btn-hero:active {
	background-color: var(--btn-hero-accent-color);
}

/* ============== advantages ============== */
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.list-adv {
	display: flex;
}
.bg-icon-adv {
	width: 270px;
	height: 120px;
	margin-bottom: 30px;
	padding: 25px 100px;

	background-color: #f5f4fa;
	border-radius: 4px;
}
.item-adv:not(:last-child) {
	margin-right: 30px;
}
.title-adv {
	margin-bottom: 10px;

	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
}
.text-adv {
	color: var(--secondary-text-color);

	font-size: 14px;
	line-height: 1.71;
	text-transform: none;
}
/*  ================= what we do ===============  */
.section-wwd {
	padding-top: 0px;
}
.title-wwd {
	margin-bottom: 50px;
	text-align: center;

	font-size: 36px;
	line-height: 1.17;
}
.list-wwd {
	display: flex;
}
.item-wwd:not(:last-child) {
	margin-right: var(--card-set-gap);
}
/* ============== our team ================= */
.section-ourteam {
	background-color: var(--primary-bg-color);
}
.title-ourteam {
	text-align: center;
	margin-bottom: 50px;

	font-size: 36px;
	line-height: 1.17;
}
.list-ourteam {
	display: flex;
}
.item-ourteam {
	text-align: center;

	background-color: var(--tertiary-text-color);

	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}
.item-ourteam:not(:last-child) {
	margin-right: var(--card-set-gap);
}
.description-ourteam {
	padding-top: 30px;
	padding-bottom: 30px;
}
.subtitle-ourteam {
	margin-bottom: 10px;

	font-weight: 500;
	font-size: 16px;
	line-height: 1.17;
}
.text-ourteam {
	margin-bottom: 16px;

	color: var(--secondary-text-color);
	font-size: 16px;
	line-height: 1.17;
}
.menu-icon-ourteam {
	display: flex;
	justify-content: center;
}
.item-icon-ourteam:not(:last-child) {
	margin-right: 10px;
}
.link-icon-ourteam {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;

	color: #afb1b8;
	background-color: transparent;
	border-radius: 50%;
}
.link-icon-ourteam:hover,
.link-icon-ourteam:focus {
	background-color: var(--accent-color);
	color: var(--tertiary-text-color);
}
.icon-ourteam {
	fill: currentColor;
}
.icon-ourteam:hover,
.icon-overteam:focus {
	fill: currentColor;
}
/* =============== regular clients */
.title-regular {
	text-align: center;
	margin-bottom: 50px;

	font-size: 36px;
	line-height: 1.17;
}
.menu-regular {
	display: flex;
}
.item-regular {
	border: 1px solid #afb1b8;
	border-radius: 4px;

	cursor: pointer;
}
.item-regular:not(:last-child) {
	margin-right: 30px;
}
.bg-icon-regular {
	display: block;
	padding: 16px 32px;
	width: 170px;
	height: 92px;

	color: #afb1b8;
}
.bg-icon-regular:hover,
.bg-icon-regular:focus {
	color: var(--accent-color);
}
.item-regular:hover,
.item-regular:focus {
	border: 1px solid var(--accent-color);
}
.icon-regular {
	fill: currentColor;
}

/* ============== footer ================  */
.footer {
	padding-top: 60px;
	padding-bottom: 60px;

	background-color: var(--secondary-bg-color);
	font-size: 14px;
	line-height: 1.71;
}
.footer-container {
	display: flex;
}
.logo-footer {
	color: var(--tertiary-text-color);

	font-family: Raleway;
	font-weight: bold;
	font-size: 26px;
	line-height: 1.19;
}
.address {
	margin-top: 20px;

	color: var(--tertiary-text-color);

	font-style: normal;
}
.list-footer {
	color: var(--link-footer-color);
}
.item-footer {
	margin-top: 9px;
}
.link-footer {
	color: inherit;
}
.footer-join {
	margin-left: 70px;
	padding-top: 8px;

	color: var(--tertiary-text-color);

	font-weight: bold;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
}
.footer-join > p {
	margin-bottom: 20px;
}
.menu-icon-footer {
	display: flex;
}
.item-icon-footer:not(:last-child) {
	margin-right: 10px;
}
.link-icon-footer {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 44px;
	height: 44px;

	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 50%;
}
.link-icon-footer:hover,
.link-icon-footer:focus {
	background-color: var(--accent-color);
}
.icon-footer {
	fill: var(--tertiary-text-color);
}

/* ================== portfolio ======================  */
/* ================ filter portfolio ================= */
.menu-btn {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}
.item-btn:not(:last-child) {
	margin-right: 8px;
}

.btn-filter {
	display: block;
	padding: 6px 22px;

	background-color: var(--primary-bg-color);
	color: var(--primary-text-color);

	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	cursor: pointer;

	border-radius: 4px;
	border-style: none;
}
.btn-filter:hover,
.btn-filter:focus {
	background-color: var(--accent-color);
	color: var(--tertiary-text-color);

	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ======================= projects portfolio ======================= */
.menu-prj {
	display: flex;
	flex-wrap: wrap;
	margin-left: calc(-1 * var(--card-set-gap));
	margin-top: calc(-1 * var(--card-set-gap));
}
.item-prj {
	flex-basis: calc(100% / 3 - var(--card-set-gap));
	margin-left: var(--card-set-gap);
	margin-top: var(--card-set-gap);
}
.item-prj:hover,
.item-prj:focus {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card-text-prj {
	padding: 20px 24px;
	border: 1px solid #eeeeee;
}
.subtitle-prj {
	margin-bottom: 4px;

	color: var(--primary-text-color);

	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}
.text-prj {
	color: var(--secondary-text-color);

	font-size: 16px;
	line-height: 1.9;
}
