
/* ================= header ================ */

/* ============= hero ================  */

/* ============== advantages ============== */

/*  ================= what we do ===============  */

/* ============== our team ================= */

/* =============== regular clients */


/* ============== footer ================  */


/* ================== modal================ */
.backdrop {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0.2);

	opacity: 1;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
}
.backdrop.is-hidden .modal {
	transform: translate(-50%, -50%) scale(0.9);
	opacity: 0;
}
.modal {
	position: absolute;
	top: 50%;
	left: 50%;

	width: 528px;
	height: 581px;
	padding: 40px;

	background: #ffffff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;

	transform: translate(-50%, -50%) scale(1);
	opacity: 1;
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-modal-close {
	position: absolute;
	top: 8px;
	right: 8px;

	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;

	background: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;

	cursor: pointer;
}
.btn-modal-close:hover,
.btn-modal-close:focus {
	color: var(--accent-color);

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-modal {
	fill: currentColor;
}
.title-form{
	margin-bottom: 12px;

	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	letter-spacing: 0.03em;
	
	color: #212121;
}
.contact-form{
	display: block;
}
.contact-form-field{
	display: block;
	font-size: 12px;
	line-height: 1.16;
	letter-spacing: 0.01em;
	color: var(--secondary-text-color);
}
.contact-form-input{
	width: 100%;
	height: 40px;
	padding-left: 42px;

	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;

	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-input:focus,
.contact-form-input:hover{
	outline: none;
	border-color: var(--accent-color);
}
.contact-form-input:focus + .contact-form-icon,
.contact-form-input:hover + .contact-form-icon{
	fill: var(--accent-color);
}
.contact-form-input-wrapper{
	display: block;
	position: relative;
	margin-top: 4px;
	margin-bottom: 10px;
}
.contact-form-icon{
	position: absolute;
	top: 50%;
	left: 15px;
	transform: translateY(-50%);

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.contact-form-message{
	width: 100%;
	height: 120px;
	margin-top: 4px;
	padding: 12px 16px;
	resize: none;

	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;

	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-message:hover,
.contact-form-message:focus{
	outline: none;
	border-color: var(--accent-color);
}
.contact-form-message::placeholder{
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.01em;
	
	color: rgba(117, 117, 117, 0.5);
}
.contact-form-checkbox-label{
	display: flex;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 30px;
	margin-left: 12px;

	font-size: 14px;
	line-height: 1.71;
	color: var(--secondary-text-color);
}
.contact-form-checkbox-label::before{
	display: inline-block;
	margin-right: 7px;
	width: 16px;
	height: 15px;
	border: 1px solid #212121;
	border-radius: 2px;

	content: "";
	cursor: pointer;
}
.contact-form-checkbox:focus + .contact-form-checkbox-label::before{
	outline: 1px solid rgba(0, 0, 225, 0.6);
}
.contact-form-checkbox:checked + .contact-form-checkbox-label::before{
	background-image: url(../images/icon_check.svg);
	border: none;
}
.contact-form-link{
	text-decoration: underline;
	color: var(--accent-color);
}

/* ================== portfolio ======================  */
/* ================ filter portfolio ================= */


/* ======================= projects portfolio ======================= */

