/* fontcolor main  #212121;
fontcolor accent #2196F3;
fontcolor p #757575
fontcolor contacts footer rgba(255, 255, 255, 0.6);
fontcolor address  #FFFFFF;

bg body #E5E5E5;
bg footer #2F303A
bg nav #FFFFFF;
bg our team #F5F4FA
*/
:root {
	--primary-text-color: #212121;
	--secondary-text-color: #757575;
	--tertiary-text-color: #ffffff;
	--accent-color: #2196f3;
}

body {
	color: var(--primary-text-color);
}

/* header */

.page-nav {
	color: var(--primary-text-color);
}
.link-nav:hover,
.link-nav:focus {
	color: var(--accent-color);
}
.cont-nav {
	color: var(--secondary-text-color);
}

/* hero  */

.hero {
	color: var(--tertiary-text-color);
	background-color: darkgray;
}
.btn-hero {
	color: var(--tertiary-text-color);
	background-color: var(--accent-color);
}

/* advantages */
.list-adv {
}
.text-adv {
	color: var(--secondary-text-color);
}
/* what we do */
.title-wwd {
}
/* our team */
.section-ourteam {
	background-color: #f5f4fa;
}
.title-ourteam {
}
.list-ourteam {
}
.text-ourteam {
	color: var(--secondary-text-color);
}
/* footer */
.footer {
	background-color: #2f303a;
}
.address {
	color: var(--tertiary-text-color);
}
.links-footer {
	color: rgba(255, 255, 255, 0.6);
}
/* portfolio */
/* filter portfolio*/
.btn-filter {
	background-color: #f5f4fa;
	color: var(--primary-text-color);
}
.btn-filter:hover,
.btn-filter:focus {
	background-color: var(--accent-color);
	color: var(--tertiary-text-color);
}

/* projects portfolio */
.subtitle-prj {
	color: var(--primary-text-color);
}
.text-prj {
	color: var(--secondary-text-color);
}
