:root {
	--primary-text-color: #212121;
	--secondary-text-color: #757575;
	--tertiary-text-color: #ffffff;
	--accent-color: #2196f3;
	--primary-bg-color: #f5f4fa;
	--secondary-bg-color: #2f303a;
	--link-footer-color: rgba(255, 255, 255, 0.6);
	--btn-hero-accent-color: #188ce8;
}

body {
	color: var(--primary-text-color);
	background-color: var(--tertiary-text-color);

	font-family: Roboto, segoe ui, helvetica neue, helvetica, Ubuntu, noto, arial, sans-serif;
	letter-spacing: 0.03em;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	margin: 0px;
	padding: 0px;
}
*::after::before {
	box-sizing: border-box;
}
.container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
.section {
	padding-top: 94px;
	padding-bottom: 94px;
}
/* ================= header ================ */

.page-header {
	border: 1px solid #ececec;

	color: var(--primary-text-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}
.page-header .container {
	display: flex;
}
.main-nav {
	display: flex;
	align-items: center;
}
.logo {
	color: inherit;
	font-family: Raleway;
	font-weight: bold;
	font-size: 26px;
	line-height: 1.19;
}
.logo-web {
	color: var(--accent-color);
}
.list-nav {
	display: flex;
	margin-left: 93px;
}
.list-nav .item:not(:last-child) {
	margin-right: 50px;
}
.link-nav {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;

	color: inherit;
}
.link-nav:hover,
.link-nav:focus {
	color: var(--accent-color);
}
.current {
	color: var(--accent-color);
}
.cont-nav {
	display: flex;
	margin-left: auto;

	color: var(--secondary-text-color);
}
.cont-nav .item + .item {
	margin-left: 50px;
}

/* ============= hero ================  */

.hero {
	text-align: center;
	padding: 200px 452px;

	color: var(--tertiary-text-color);
	background-color: rgb(39, 39, 39);
}
.hero .title-hero {
	margin-bottom: 30px;

	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}
.btn-hero {
	margin-left: auto;
	margin-right: auto;

	display: inline-block;
	padding: 10px 32px;
	min-width: 200px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;

	color: var(--tertiary-text-color);
	background-color: var(--accent-color);

	font-family: inherit;
	font-weight: bold;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.06em;

	cursor: pointer;
}
.btn-hero:hover,
.btn-hero:active {
	background-color: var(--btn-hero-accent-color);
}

/* ============== advantages ============== */
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.list-adv {
	display: flex;
}
.item-adv:not(:last-child) {
	margin-right: 30px;
}
.title-adv {
	margin-bottom: 10px;

	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
}
.text-adv {
	color: var(--secondary-text-color);

	font-size: 14px;
	line-height: 1.71;
	text-transform: none;
}
/*  ================= what we do ===============  */
.title-wwd {
	margin-bottom: 50px;
	text-align: center;

	font-size: 36px;
	line-height: 1.17;
}
.list-wwd {
	display: flex;
}
.item-wwd:not(:last-child) {
	margin-right: 30px;
}
/* ============== our team ================= */
.section-ourteam {
	background-color: var(--primary-bg-color);
}
.title-ourteam {
	text-align: center;
	margin-bottom: 50px;

	font-size: 36px;
	line-height: 1.17;
}
.list-ourteam {
	display: flex;
}
.item-ourteam {
	text-align: center;
	background-color: var(--tertiary-text-color);

	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}
.item-ourteam:not(:last-child) {
	margin-right: 30px;
}
.item-ourteam > img {
	margin-bottom: 30px;
}
.subtitle-ourteam {
	margin-bottom: 10px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.17;
}
.text-ourteam {
	margin-bottom: 30px;
	color: var(--secondary-text-color);
	font-size: 16px;
	line-height: 1.17;
}
/* ============== footer ================  */
.footer {
	background-color: var(--secondary-bg-color);
	font-size: 14px;
	line-height: 1.71;
}
.footer .container {
	padding-top: 60px;
	padding-bottom: 60px;
}
.logo-footer {
	color: var(--tertiary-text-color);

	font-family: Raleway;
	font-weight: bold;
	font-size: 26px;
	line-height: 1.19;
}
.address {
	margin-top: 20px;
	color: var(--tertiary-text-color);

	font-style: normal;
}
.list-footer {
	color: var(--link-footer-color);
}
.item-footer {
	margin-top: 9px;
}
.link-footer {
	color: inherit;
}
/* portfolio */
/* filter portfolio*/
.btn-filter {
	background-color: var(--primary-bg-color);
	color: var(--primary-text-color);

	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	cursor: pointer;
}
.btn-filter:hover,
.btn-filter:focus {
	background-color: var(--accent-color);
	color: var(--tertiary-text-color);
}

/* projects portfolio */
.subtitle-prj {
	color: var(--primary-text-color);

	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}
.text-prj {
	color: var(--secondary-text-color);

	font-size: 16px;
	line-height: 1.9px;
}
