.hero__container {
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;
    max-width: 480px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero-mobile.jpg);
    background-repeat: no-repeat;

    background-color: #c4c4c4;
    color: var(--tertiary-text-color);
}

.hero__title {
    margin-bottom: 30px;

    font-weight: 900;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero__btn{
    margin-left: auto;
    margin-right: auto;
}

@media screen and(min-width:480px){
    
    .hero__title {
        font-size: 26px;
        line-height: 1.62;
    }
}
@media screen and(min-width:768px) {
    .hero__container {
        max-width: 768px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero-tablet.jpg);
    }
}
@media screen and(min-width:1200px) {
    .hero__container {
        max-width: 1600px;
        height: 600px;
        padding-top: 200px;
        padding-bottom: 200px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero.jpg);
    }
    .hero__title {
        font-size: 44px;
        line-height: 1.36;
    }
}
// .hero {
//     text-align: center;
//     padding-top: 200px;
//     padding-bottom: 200px;
//     max-width: 1600px;
//     height: 600px;
//     margin-left: auto;
//     margin-right: auto;

//     background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
//     background-repeat: no-repeat;

//     background-color: #c4c4c4;
//     color: var(--tertiary-text-color);
// }

// .hero__title {
//     margin-bottom: 30px;

//     font-weight: 900;
//     font-size: 44px;
//     line-height: 1.36;
//     letter-spacing: 0.06em;
//     text-transform: uppercase;
// }