.ourteam {
    background-color: var(--primary-bg-color);
}

.ourteam__title {
    text-align: center;
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.17;
}

.ourteam__list {
    display: flex;
}

.ourteam__item {
    text-align: center;

    background-color: var(--tertiary-text-color);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:not(:last-child) {
        margin-right: var(--card-set-gap);
    }
}

.ourteam__description {
    padding-top: 30px;
    padding-bottom: 30px;
}

.ourteam__subtitle {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
}

.ourteam__text {
    margin-bottom: 16px;

    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.17;
}