.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 10px 32px;
    min-width: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    color: var(--tertiary-text-color);
    background-color: var(--accent-color);

    font-family: inherit;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    cursor: pointer;

    &:hover,
    &:active {
        background-color: var(--btn-hero-accent-color);
    }
}

.footer-subscribe__btn {
    margin-left: 12px;
    padding: 10px 28px;
}
.btn__icon {
    margin-left: 10px;
}

.contact-form__btn {
    display: block;
    margin: 0 auto;
}

