.contact-form {
    display: block;
}

.contact-form__field {
    display: block;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
}

.contact-form__input-wrapper {
    display: block;
    position: relative;
    margin-top: 4px;
    margin-bottom: 10px;
}

.contact-form__input {
    width: 100%;
    height: 40px;
    padding-left: 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
        outline: none;
        border-color: var(--accent-color);
    }
}

.contact-form__icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .contact-form__input:focus+&,
    .contact-form__input:hover+& {
        fill: var(--accent-color);
    }
}

.contact-form__message {
    width: 100%;
    height: 120px;
    margin-top: 4px;
    padding: 12px 16px;
    resize: none;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        outline: none;
        border-color: var(--accent-color);
    }
    &::placeholder {
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.01em;
    
        color: rgba(117, 117, 117, 0.5);
    }
}

.contact-form__checkbox-label {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 12px;

    font-size: 14px;
    line-height: 1.71;
    color: var(--secondary-text-color);

    &::before {
        display: inline-block;
        margin-right: 7px;
        width: 16px;
        height: 15px;
        border: 1px solid #212121;
        border-radius: 2px;
    
        content: "";
        cursor: pointer;

        .contact-form__checkbox:focus+& {
            outline: 1px solid rgba(0, 0, 225, 0.6);
        }
        
        .contact-form__checkbox:checked+& {
            background-image: url(../images/icon_check.svg);
            border: none;
        }
    }
    
}

// .contact-form__checkbox:focus+.contact-form__checkbox-label::before {
//     outline: 1px solid rgba(0, 0, 225, 0.6);
// }

// .contact-form__checkbox:checked+.contact-form__checkbox-label::before {
//     background-image: url(../images/icon_check.svg);
//     border: none;
// }

.contact-form__link {
    text-decoration: underline;
    color: var(--accent-color);
}