:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --tertiary-text-color: #ffffff;
    --accent-color: #2196f3;
    --primary-bg-color: #f5f4fa;
    --secondary-bg-color: #2f303a;
    --link-footer-color: rgba(255, 255, 255, 0.6);
    --btn-hero-accent-color: #188ce8;

    --card-set-gap: 30px;
}

body {
    color: var(--primary-text-color);
    background-color: var(--tertiary-text-color);

    font-family: Roboto, segoe ui, helvetica neue, helvetica, Ubuntu, noto, arial, sans-serif;
    letter-spacing: 0.03em;
}